:root
{
    --primary: #D081F4
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body 
{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    min-width: fit-content;
   height: 100vh;

}

.header 
{
    background-color: var(--primary);
    width: 100%;
}

.logo 
{
    width: 170px;
    height: 80px;
}

h2,
form 
{
    margin: 0.5rem
}

.main 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Urbanist', sans-serif;
    min-width: fit-content;
    background-image: linear-gradient(to bottom, #cfcfcfd2, #fff);
    width: 100%;
    height: 100%;
    
}


.login 
{
    display: flex;
    flex-direction: column;

}

.login input
 {
    margin-top: 0.5rem;
    background-color: #CFCFCF;
    border-radius: 100vw;
    padding: 0.8em;
    width: 400px;
    border:none;
    font-family: urbanist;
    font-size:16px;
    letter-spacing: 2px;
}

.btn-primary
{
    font-family: urbanist;
    font-weight: 600;
    padding: 1em 2em;
    border-radius: 100vw;
    border:none;
    background-color: var(--primary);
    color:white;
    pointer-events: auto;
    cursor: pointer;
    letter-spacing: 2px;
}
 
.divisor
{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}
.cadastro
{
    align-items: left;
    justify-content: left;
    display: flex;
    font-family: urbanist;
    letter-spacing: 3px;
    margin-top: -100px;
}